#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.moldura {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.moldura img {
  max-width: 40%;
  max-height: 80%;
  object-fit: contain;
  margin: 0 10px;
}